/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,700;1,400&display=swap');


body{
  font-family: 'Poppins', sans-serif;
  background-color: #F7F7F7;  
}
.form-font{
  font-family: 'Rubik', sans-serif !important;
}
.content{
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
}
.content.data{
  font-size: 20px;
}
/* COLOR */
.primary-bg{
  background-color: #6A7798;
}
.dark-color{
  color: #404040;
}
.text-gray{
  color: #696969 !important;
}
.add-address-bg{
  background-color: #6384C5;
}
.header-color{
  color: #3C3C3C;
}
.text-gray-2{
  color: rgba(105, 105, 105, 0.4);
}
/* NAV */
.dropdown-menu{
  left: auto;
  right: 5px;
  position: absolute;
  width: 100%;
  margin : auto ;
}
.nav-item .nav-link{
  padding: 0.5rem;
}
/* NAV TABS (PAGE 2 PRODUCT) */
.nav-tabs .nav-link {
   border: 0px; 
   border-top-left-radius: 0px; 
   border-top-right-radius: 0px; 
}
.nav-tabs .nav-link:hover {
  border: 0px; 
  color:#6A7798 ;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  background-color: transparent;
  border: 0px;
  color: #6A7798;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
color: #40495B;
}
.profile-sidebar .nav-item .nav-link{
color: black;
}
.profile-sidebar .nav-item .nav-link:hover{
color: black;
}
/* CAROUSEL */

/* HERO CAROUSEL */
#carousel-hero .owl-stage-outer{
  border-radius: 15px;
}
.hero-img-carousel::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.33);
}

#carousel-hero .owl-nav .owl-prev, #carousel-hero .owl-nav .owl-next {
  background: transparent;
  width: 15px;
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block !important;
  
}
.owl-theme .owl-nav [class*=owl-]:hover{
  background: transparent;
}
.owl-prev:focus, .owl-next:focus{
outline: 0px;
}
#carousel-hero .owl-nav .owl-prev { left: 10px; }
#carousel-hero .owl-nav .owl-next { right: 10px; }
.carousel-nav-icon{
  font-size: 50px;
  color: white;
}
.carousel-nav-icon:hover{
  background-color: transparent;
}
#carousel-hero .owl-dots{
  transform: translateY(-50px);
}
#carousel-hero.owl-theme .owl-dots .owl-dot span{
  width: 20px;
  height: 20px;
}
#carousel-hero.owl-theme .owl-dots .owl-dot.active span{
  background: white;
}
/* REVIEW CAROUSEL */



#carousel-hero .owl-nav .owl-prev, #carousel-hero .owl-nav .owl-next {
  background: transparent;
  width: 15px;
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block !important;
  
}
.owl-theme .owl-nav [class*=owl-]:hover{
  background: transparent;
}
.owl-prev:focus, .owl-next:focus{
outline: 0px;
}
#carousel-hero .owl-nav .owl-prev { left: 10px; }
#carousel-hero .owl-nav .owl-next { right: 10px; }
.review-nav-icon{
  display: none;
  font-size: 25px;
  color: #6A7798;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #6A7798;
  transition: 0.5s;
}
.review-nav-icon:hover{
  color: white;
  transition: 0.5s;
  background-color:#6A7798;
}
#carousel-review .owl-nav{
text-align: right;
}
#carousel-review .owl-dots{
  text-align: center;
  transform: translateY(0px);
  width: 100%;
  margin: 0 !important;
}
#carousel-review.owl-theme .owl-dots .owl-dot span{
  width: 15px;
  height: 15px;
  padding: 0;
  transition:all 1s ease;
  
}
#carousel-review.owl-theme .owl-dots .owl-dot.active span{
  padding: 0 20px;
  transition: 1s;
  background: #6A7798;
  
}

/* PRODUCT CAROUSEL */
#product-carousel .owl-nav .owl-prev, #product-carousel .owl-nav .owl-next {
  background: transparent;
  width: 15px;
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block !important;
  
}
#product-carousel .owl-nav .owl-prev { left: -40px; }
#product-carousel .owl-nav .owl-next { right: -40px; }
.product-nav-icon{
  font-size: 45px;
  color: black;
}
/* WAVE */

.top-right{
  top: 0;
  right: 0;
}
.bottom-left{
  bottom: 20px;
  left: 20px;
}
/* INPUT */
.search-bar{
  width: 300px;
  padding-right: 4rem;
}
.telp{
  padding-left: 4.5rem;
}
.telp:focus{
z-index:0 !important;
}
/* REVIEW */
.card.review{
  min-height: 200px;
  width: 100%;
}
.review-icon{
  color: #FEA250;
  font-size: 15px;
}
/* FORM */
/* address FORM */
.sup-label{
  font-size: 18px;
}
.form-address{
  border: 1px solid black;
  color:#676767 !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: normal;
}
.input-group-prepend.number{
  position: absolute;
  width: 60px;
  height: 32px;
  margin-top: 3px;
  margin-left: 3px;
  z-index: 3;
}
.input-group-prepend.number .input-group-text{
  background-color:#4B97BC;  
  padding: 0.2rem 1rem;
  font-size: 14px;
  border-radius: 4px !important;
}
/* RADIO BUTTON  */

.form-check-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.form-check-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.form-check-label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.form-check-label input:checked ~ .checkmark {
  background-color: #56a6e7;
}

/* CHECKBOX */
INPUT[type=checkbox]:focus
{
    outline: 1px solid rgba(0, 0, 0, 0.2);
    
}

INPUT[type=checkbox]
{ 
    border: 2px solid #6A7798;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
   
}
INPUT[type=checkbox].cart-check{
  position: absolute;
  right: 20px;
  top: 25px;
}

INPUT[type=checkbox]:after
{ 
  content: "\2714";
  margin-left: 7px;
  font-size: 24px;
  color: #6A7798;
  font-weight: bold;
}
INPUT[type=checkbox]:checked
{
    background: #6A7798;
}
input[type=checkbox]:checked:after {
  content: "\2714";
  margin-left: 7px;
  font-size: 24px;
  color: white;
  font-weight: bold;
}
/* NUMBER CART */
.discount-form{
  padding-left: 2.2rem;
  border-radius: 10px !important;
}
.discount-form::placeholder{
  font-weight: bold;
}
.cart-form{
  align-items: center;

}
.num-form{
  font-size: 18px;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #DCDCDC;
}
.num-form::placeholder{
  color:#C0C4CD;
}
.inline-group {
  width: 150px;

}
.quantity{
  text-align: center;
  width: 65px !important;
}
.inline-group .form-control {
  text-align: center;
}

.form-control[type="number"]::-webkit-inner-spin-button,
.form-control[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.num-fa{
  color:#7E90A5;
  padding: 4px;
  background-color: white;
  border: 2px solid #7E90A5;
  border-radius: 50%;
  transition: 0.5s;
}
.num-fa:hover{
  color: white;
  background-color: #7E90A5;
  transition: 0.5s;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.qty-form{
  width: 50px;
  border: 2px solid #6A7798;
  border-radius: 5px;
  padding: 0.375rem 1.25rem;
}
/* PROFILE PAGE */
.data-header{
  background: #9EABCEA6;
}
/* WISHLIST */
.wishlist-item{
  border-bottom: 1.5px solid  rgba(196, 196, 196, 0.5);;
}
.wishlist-item.top{
  border-top: 1.5px solid  rgba(196, 196, 196, 0.5);;

}
.wishlist-img{
  width: 120px;
  height: 120px;
  object-fit: cover;
}
/* HELPER */
.register-button{
  border: 2px solid #00B0D7;
  padding: 0.5rem !important;
  border-radius: 20px;
}
.address-border-top{
  border-top: 2px solid  rgba(196, 196, 196, 0.5);
}
.summary{
  border-top: 2px solid #DBDBDB;
}
.align-item-center{
  align-items: center;
}
.rounded-form{
  border-radius: 5px;
}
.rounded-small{
  border-radius: 10px;
}
.partner-info{
  color: #40495B;
  margin-top: 140px;
}
ul{
  padding-left: 1.2em;
}
.cursor-pointer{
  cursor: pointer;
}
.text-red{
  color: #EF3F3F;
}
.border-content{
  border-top: 2px solid #626262;
}
.w-responsive-75{
  width: 100%;
}

.photo-profile{
  width: 50px !important;
  height: 50px;
  object-fit: cover;
}
.pb-big{
  padding-bottom:9rem ;
}
.mt-medium{
  margin-top: 5rem;
}
.border-header{
  width: 40px;
  padding: 3px;
}
a{
    text-decoration: none !important;
    color: #2E3A59;
}
p{
    margin: 0;
    padding: 0;
}
#filtersubmit {
  position: relative;
  z-index: 4;
  left: -35px;
  top:10px;
  height: 10px ;
  color: #7B7B7B;
  cursor:pointer;
  background-color: white;
  width: 0;
  border: 0px;
}
/* ICON */
.discount-icon{
  
  position: relative;
  z-index: 4;
  right: -30px;
  color: #7B7B7B;
  cursor:pointer;
  background-color: white;
  
  border: 0px;
}
.search-icon{
  background-color: transparent;
}
.social-icon{
  font-size: 35px;
}
.star-icon{
  font-size: 15px;
  color: #956498;
}
.star-icon.disabled{
  font-size: 15px;
  color: #9C9A9A;
}
.close-icon{
  position: absolute;
  top: 20px;
  right: 30px;
}
/* FOOTER */
.disclaimer{
  background-color: #40495B;
}

/* DETAIL PRODUK PAGE */
.detail-produk{
  font-family: 'Titillium Web', sans-serif;

}
  @media (min-width: 768px) {
    .dropdown-menu{
      left: auto;
      right: 5px;
      position: absolute;
      width: 400px;
      margin : auto ;
    }
    .register-button{
      border: 2px solid #00B0D7;
      padding: 0.3rem 1.5rem !important;
      border-radius: 20px;
    }
    .cart-form{
      margin-top: 5rem;
    
    }
    .card.review{
      width: 22rem;
    }
    #carousel-review .owl-dots{
      text-align: unset;
      width: 60%;
    }
    .review-nav-icon{
      display: block;
    }
    #carousel-review .owl-dots{
      transform: translateY(-25px);
    }
    .w-responsive-75{
      width: 75%;
    }
    .w-responsive-75.address-input{
      width: 60% !important;
    }
  }
  
  @media (min-width: 992px) {


  }
  
  @media (min-width: 1200px) {
    
  }
  @media (min-width: 1400px) {
   
  }